---
https_domains:
  - ["{{ web_server_name }}", "www.{{ web_server_name }}"]
  - ["{{ static_server_name }}"]
  - ["{{ mail_domain }}", "{{ domain_name }}"]
  - ["app.fragdenstaat.de"]
  - ["shop.fragdenstaat.de"]
  - ["blog.fragdenstaat.de"]
  - ["verklagdenstaat.de", "www.verklagdenstaat.de"]
  - ["zerschlagdenstaat.de", "www.zerschlagdenstaat.de"]
  - ["mta-sts.fragdenstaat.de"]
  - ["pixel.fragdenstaat.de"]
  - ["frag-den-staat.de", "www.frag-den-staat.de"]
  - ["gegenrechtsschutz.de", "www.gegenrechtsschutz.de"]
  - ["ueberbrueckungsfonds.de", "www.ueberbrueckungsfonds.de"]

nginx_pixel_domain: "pixel.fragdenstaat.de"
nginx_pixel_log_file: "{{ application_log_dir }}/pixel.log"

nginx_cache_urls:
  - path: "/"
  - path: "/artikel/feed/"
  - path: "/artikel/exklusiv/2024/10/sachsenwald/"
  - path: "/artikel/exklusiv/2025/02/beraterberichte/"
  - path: "/kampagnen/verschlusssache-pruefung/"
    with_params: true
  - path: "/dokumente/258046-koalitionsvertrag-cdu-csu-spd-2025-entwurf/"

cms_sites:
  - key: "grs"
    name: "Gegenrechtsschutz"
    domain: "gegenrechtsschutz.de"
    site_id: 2
    site_url: "https://gegenrechtsschutz.de"
    simple_files:
      - path: "/robots.txt"
        filename: robots.txt
      - path: "/.well-known/security.txt"
        filename: security.txt
  - key: "ubf"
    name: "Ubf"
    domain: "ueberbrueckungsfonds.de"
    site_id: 3
    site_url: "https://ueberbrueckungsfonds.de"
    simple_files:
      - path: "/robots.txt"
        filename: robots.txt
      - path: "/.well-known/security.txt"
        filename: security.txt
    basic_auth_realm: "admin"
