#!/bin/bash

set -ex

HOME=/home/stage
PACKAGE=ImageMagick
VERSION=7.0.10-24

mkdir -p $HOME

pushd $HOME

wget -nc https://www.imagemagick.org/download/${PACKAGE}-${VERSION}.tar.gz
tar -xvf ./${PACKAGE}-${VERSION}.tar.gz
pushd ${PACKAGE}-${VERSION}
./configure
make
sudo checkinstall -y
sudo ldconfig /usr/local/lib
