#! /bin/bash

domain="{{ zammad_url }}"
token="{{ zammad_token }}"

result=$(curl -s "https://${domain}/api/v1/monitoring/health_check?token=${token}")
healthy=$(echo ${result} | jq .healthy)
message=$(echo ${result} | jq .message)
issues=$(echo ${result} | jq .issues)
actions=$(echo ${result} | jq .actions)

if [ ${healthy} == "true" ]; then
    errorlevel=0
    echo "OK: Zammad is healthy ${message}"
elif [ ${message} != "success" ]; then
    errorlevel=2
    echo "CRIT: Zammad reported an error: ${issues} ${actions}"
else
    errorlevel=1
    echo "WARN: There was an error checking on Zammad"
fi

exit ${errorlevel}
