version: "3.8"

services:
{% if prometheus is true %}
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - "{{ monitor_dir }}/prometheus/data/:/prometheus"
      - "{{ monitor_dir }}/prometheus/etc/:/etc/prometheus"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=2y'
    restart: unless-stopped
    network_mode: host
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://192.168.100.5:12201"
        tag: "monitor"
{% endif %}

{% if grafana is true %}
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - "{{ monitor_dir }}/grafana:/var/lib/grafana"
    environment:
      GF_SERVER_ROOT_URL: https://{{ monitor_domain }}/
    restart: unless-stopped
    network_mode: host
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://192.168.100.5:12201"
        tag: "monitor"
{% endif %}

{% if graylog is true %}
  mongodb:
    container_name: graylog_mongodb
    image: "mongo:6.0"
    volumes:
      - "{{ monitor_dir }}/graylog/mongodb_data:/data/db"
    restart: unless-stopped
    network_mode: host
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://192.168.100.5:12201"
        tag: "monitor"

  opensearch:
    container_name: graylog_opensearch
    image: "opensearchproject/opensearch:2.12.0"
    environment:
      - "OPENSEARCH_INITIAL_ADMIN_PASSWORD={{ opensearch_init_password }}"
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
      - "bootstrap.memory_lock=true"
      - "discovery.type=single-node"
      - "action.auto_create_index=false"
      - "plugins.security.ssl.http.enabled=false"
      - "plugins.security.disabled=true"
    ulimits:
      memlock:
        hard: -1
        soft: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - "{{ monitor_dir }}/graylog/os_data:/usr/share/opensearch/data"
    restart: unless-stopped
    network_mode: host
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://192.168.100.5:12201"
        tag: "monitor"

  graylog:
    container_name: graylog
    hostname: "server"
    image: "${GRAYLOG_IMAGE:-graylog/graylog:6.1.1}"
    depends_on:
      opensearch:
        condition: "service_started"
      mongodb:
        condition: "service_started"
    entrypoint: "/usr/bin/tini -- wait-for-it 127.0.0.1:9200 --  /docker-entrypoint.sh"
    environment:
      GRAYLOG_NODE_ID_FILE: "/usr/share/graylog/data/config/node-id"
      GRAYLOG_PASSWORD_SECRET: "${GRAYLOG_PASSWORD_SECRET:?Please configure GRAYLOG_PASSWORD_SECRET in the .env file}"
      GRAYLOG_ROOT_PASSWORD_SHA2: "${GRAYLOG_ROOT_PASSWORD_SHA2:?Please configure GRAYLOG_ROOT_PASSWORD_SHA2 in the .env file}"
      GRAYLOG_HTTP_BIND_ADDRESS: "0.0.0.0:9010"
      GRAYLOG_HTTP_EXTERNAL_URI: "https://{{ log_domain }}/"
      GRAYLOG_HTTP_PUBLISH_URI: "http://127.0.0.1:9010/"
      GRAYLOG_ELASTICSEARCH_HOSTS: "http://127.0.0.1:9200"
      GRAYLOG_MONGODB_URI: "mongodb://127.0.0.1:27017/graylog"
      GRAYLOG_TRANSPORT_EMAIL_ENABLED: "True"
      GRAYLOG_TRANSPORT_EMAIL_HOSTNAME: "localhost"
      GRAYLOG_TRANSPORT_EMAIL_PORT: "25"
      GRAYLOG_TRANSPORT_EMAIL_USE_AUTH: "False"
      GRAYLOG_TRANSPORT_EMAIL_SUBJECT_PREFIX: "[graylog]"
      GRAYLOG_TRANSPORT_EMAIL_FROM_EMAIL: "graylog@zerschlagdenstaat.de"
      GRAYLOG_TRANSPORT_EMAIL_USE_TLS: "false"
      GRAYLOG_TIMEZONE: "Europe/Berlin"
      GRAYLOG_IS_LEADER: "True"
      TZ: "Europe/Berlin"
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://192.168.100.5:12201"
        tag: "monitor"

    volumes:
      - "{{ monitor_dir }}/graylog/graylog_data:/usr/share/graylog/data/data"
      - "{{ monitor_dir }}/graylog/graylog_journal:/usr/share/graylog/data/journal"
    restart: unless-stopped
    network_mode: host
{% endif %}
