[defaults]
callback_result_format = yaml
deprecation_warnings = True
display_skipped_hosts = False
gathering = smart
inventory = inventory
persistent_connection_timeout = 600
roles_path = ./roles
timeout = 60
vault_password_file = vault.key

[privilege_escalation]
become = True

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
