[program:celery_exporter]
directory=/opt/celery_exporter
command=/opt/celery_exporter/celery_exporter --broker-url="amqp://{{ rabbitmq_application_user }}:{{ rabbitmq_application_password }}@localhost/{{ rabbitmq_application_vhost }}"
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisor/celery_exporter.log
redirect_stderr=true
user=nobody
