- name: Include monitor.yml
  ansible.builtin.include_tasks: monitor.yml
  when: graylog is true or grafana is true or prometheus is true
  tags:
    - grafana
    - graylog
    - prometheus

# - name: Include grafana_extra.yml
#  ansible.builtin.include_tasks: grafana_extra.yml
#  when: grafana is true
#  tags: grafana

- name: Include rsyslog.yml
  ansible.builtin.include_tasks: rsyslog.yml
  when: rsyslog is true
  tags: rsyslog

- name: Include prometheus exporter
  ansible.builtin.include_tasks: "{{ item }}.yml"
  with_items: "{{ prometheus_exporter }}"
  when: prometheus_exporter is defined
  tags: exporter

- name: Include sidecar.yml
  ansible.builtin.include_tasks: sidecar.yml
  when: sidecar is defined
  tags: sidecar

- name: Create glances directory
  ansible.builtin.file:
    state: directory
    path: "/etc/glances"
    owner: "root"
    group: "root"
    mode: "0755"
  tags: glances

- name: Create glances.conf
  ansible.builtin.copy:
    src: "glances.conf"
    dest: "/etc/glances/glances.conf"
    owner: "root"
    group: "root"
    mode: "0755"
  tags: glances
