server {
	server_name gegenrechtsschutz.de www.gegenrechtsschutz.de;
	listen 443 ssl;
	ssl_certificate /etc/letsencrypt/live/gegenrechtsschutz.de/fullchain.pem; # managed by Certbot
	ssl_certificate_key /etc/letsencrypt/live/gegenrechtsschutz.de/privkey.pem; # managed by Certbot
	include /etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

	location / {
		proxy_pass http://localhost:{{ grs_port }};
		proxy_set_header Host $http_host;
		proxy_http_version 1.1;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
	}
}

server {
    if ($host = www.gegenrechtsschutz.de) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    if ($host = gegenrechtsschutz.de) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

	server_name gegenrechtsschutz.de www.gegenrechtsschutz.de;
	listen 80;

	return 301 https://$host$request_uri;
}
