/var/log/mail.info
/var/log/mail.warn
/var/log/mail.err
/var/log/mail.log
{
	rotate 16
	su root syslog
	create 0640 syslog adm
	weekly
	missingok
	notifempty
	compress
	delaycompress
	sharedscripts
	postrotate
		invoke-rc.d rsyslog rotate > /dev/null
		systemctl restart syslog > /dev/null
		/usr/bin/stat --format="%i" /var/log/mail.log.1 > mail_log.offset; echo 0 >> mail_log.offset
		/usr/bin/setfacl -m u:{{ gunicorn_user }}:r /var/log/mail.log > /dev/null
		/usr/bin/setfacl -m u:{{ gunicorn_user }}:r /var/log/mail.log.1 > /dev/null
	endscript
}
