user = {{ db_user }}
password = {{ db_password }}
hosts = 127.0.0.1
dbname = {{ db_name }}
query = {% for em in email_alias %}SELECT '{{ em.to }}' AS destination WHERE '{{ em.from }}' = '%s' UNION ALL {% endfor %}
  SELECT '{{ foi_email_host_user }}' AS destination FROM foirequest_foirequest WHERE lower(secret_address) = '%s' AND closed = FALSE
  UNION ALL SELECT fr.secret_address AS destination FROM foirequest_deferredmessage AS dm, foirequest_foirequest AS fr WHERE dm.request_id = fr.id AND lower(dm.recipient) = '%s' AND fr.closed = FALSE  AND dm.delivered = TRUE
  {% for em in alias_foi_domains %} UNION ALL SELECT '{{ foi_email_host_user }}' AS destination WHERE '%s' ~ '.*_[0-9]+@{{ em }}' AND NOT EXISTS (SELECT 1 FROM foirequest_deferredmessage WHERE lower(recipient) = '%s' AND sender = '' AND spam = TRUE){% endfor %} LIMIT 1
