{% for transport in transport_maps %}{{ transport.from }}       relay:[{{ transport.to }}]:587
{% endfor %}info@fragdenstaat.de    spamassassin:
fragdenstaat.de        dovecot
echtemail.de                       dovecot
*                                  smtp
