{% for transport in transport_maps %}{{ transport.from }}       relay:[{{ transport.to }}]:587
{% endfor %}fragdenstaat.de                    dovecot
echtemail.de                       dovecot
*                                  smtp
