mail@fragdenstaat.de        fragdenstaat.de/mail/
foimail@fragdenstaat.de     fragdenstaat.de/foimail/
scans@fragdenstaat.de       fragdenstaat.de/scans/
presse@fragdenstaat.de      fragdenstaat.de/presse/
