mail@fragdenstaat.de        fragdenstaat.de/mail/
foimail@fragdenstaat.de     fragdenstaat.de/foimail/
scans@fragdenstaat.de       fragdenstaat.de/scans/
presse@fragdenstaat.de      fragdenstaat.de/presse/
spenden@fragdenstaat.de      fragdenstaat.de/spenden/
climate@fragdenstaat.de      fragdenstaat.de/climate/
fonds@fragdenstaat.de      fragdenstaat.de/fonds/
