#!/bin/sh

DJANGODIR={{ project_path }}

# Activate the virtual environment.
cd $DJANGODIR
. {{ virtualenv_path }}/bin/activate
. {{ virtualenv_path }}/bin/postactivate

export RELEASE_VERSION=$(cat {{ virtualenv_path}}/meta/current_release)

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec celery -A froide.celery:app beat -l INFO
