{% from '_utils.j2' import proxy_wsgi_upstream, cors, csp, csp_block, hsts_header with context %}

{# add_headers need to be set on location #}
{% macro add_media_headers() -%}
    {% if onion_service_enabled and not ".onion" in media_server_name %}
        add_header alt-svc 'h2="{{ onion_media_server }}:443"; ma=86400; persist=1';
        add_header Onion-Location 'http://{{ onion_media_server }}$request_uri';
    {% endif %}
    {% if not ".onion" in media_server_name %}
        {{ hsts_header() }}
    {% endif %}
{%- endmacro %}

{% if maintenance %}
    set $maintenance on;

    {% if maintenance_admin_ip %}
    if ($remote_addr ~ ({{ maintenance_admin_ip }})) {
        set $maintenance off;
    }
    {% endif %}
    if ($maintenance = on) {
        return 503;
    }
{% endif %}

expires $media_expires;

if ($bad_referrer) {
    return 301 $bad_referrer;
}

error_page 403 /forbidden.html;
proxy_intercept_errors on;

location = /forbidden.html {
    {{ add_media_headers() }}
    root {{ nginx_static_html_dir }}/static_html/;
}

error_page 451 =451 /error_451.html;
location = /error_451.html {
    {{ add_media_headers() }}
    add_header Link '<https://fragdenstaat.de/zensurheberrecht>; rel="blocked-by"' always;
    root {{ nginx_static_html_dir }}/static_html/;
}

{% if media_legal_paths is defined %}
    {% for legal_info in media_legal_paths %}
        location ~ {{ legal_info.path }}(.*)$ {
            {{ add_media_headers() }}
            return 451;
        }
    {% endfor %}
{% endif %}

{% if media_redirect_paths is defined %}
    {% for redirect_path in media_redirect_paths %}
        location ~ {{ redirect_path.from }}([^\s]*)$ {
            {{ add_media_headers() }}
            return 301 {{ redirect_path.path }}$1$is_args$args;
        }
    {% endfor %}
{% endif %}

{% for prefix in nginx_private_media_prefix %}
    location {{ prefix.url }} {
        {% set default_headers = add_media_headers() ~ "\n" ~ csp_block(media_content_security_policy) %}
        {{ default_headers }}
        {{ cors(static_server_url, repeat_headers=default_headers) }}
        {{ cors(web_server_url, repeat_headers=default_headers) }}

        {{ proxy_wsgi_upstream() }}
        proxy_hide_header Set-Cookie;
    }
{% endfor %}

{% for url_dir in nginx_private_media %}
    location {{ url_dir.url }} {
        internal;

        {% set extra_headers %}
            set $link "$upstream_http_link";
            add_header Link $link;

            {% if url_dir.force_download is defined and url_dir.force_download %}
                add_header Content-disposition $contentdisposition;
            {% endif %}
        {% endset %}
        {% set default_headers = add_media_headers() ~ "\n" ~ csp_block(media_content_security_policy) ~ "\n" ~ extra_headers %}
        {{ default_headers }}
        {{ cors(static_server_url, repeat_headers=default_headers) }}
        {{ cors(web_server_url, repeat_headers=default_headers) }}

        proxy_hide_header Set-Cookie;
        alias {{ nginx_private_media_path }}{{ url_dir.dir }};
    }
{% endfor %}

{% for loc in nginx_public_media %}
    location {{ loc.url }} {

        {% set extra_headers %}
            {% if loc.force_download is defined and loc.force_download %}
                add_header Content-disposition $contentdisposition;
            {% endif %}
        {% endset %}
        {% set default_headers = add_media_headers() ~ "\n" ~ csp_block(media_content_security_policy) ~ "\n" ~ extra_headers %}
        {{ default_headers }}
        {{ cors(static_server_url, repeat_headers=default_headers) }}
        {{ cors(web_server_url, repeat_headers=default_headers) }}

        alias   {{ nginx_media_dir }}{{ loc.url }};
    }
{% endfor %}

{# privileged media has a CSP like web server #}
{% for dir in nginx_public_privileged_media %}
    location {{ dir }} {
        {% set default_headers = add_media_headers() ~ "\n" ~ csp_block(priviliged_media_content_security_policy) %}
        {{ default_headers }}
        {{ cors(static_server_url, repeat_headers=default_headers) }}
        {{ cors(web_server_url, repeat_headers=default_headers) }}

        alias   {{ nginx_media_dir }}{{ dir }};
    }
{% endfor %}

error_page 502 503 504 @maintenance;
location @maintenance {
    {{ add_media_headers() }}
    root {{ nginx_static_html_dir }}/static_html/;
    rewrite ^(.*)$ /maintenance.html break;
}
