ssl on;
{% if letsencrypt_enabled %}
ssl_certificate     /etc/letsencrypt/live/{{ server_name }}/{{ letsencrypt_cert_filename }};
ssl_certificate_key /etc/letsencrypt/live/{{ server_name }}/{{ letsencrypt_privkey_filename }};
{% else %}
{# ssl_certificate     /etc/ssl/certs/ssl-cert-snakeoil.pem;
ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key; #}
ssl_certificate     {{ virtualenv_path }}/certs/server.crt;
ssl_certificate_key {{ virtualenv_path }}/certs/server.key;
{% endif %}

ssl_session_timeout 1d;
ssl_session_cache shared:SSL:50m;
ssl_session_tickets off;

ssl_protocols TLSv1.2 TLSv1.3;
ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
ssl_prefer_server_ciphers off;

add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload";

{% if letsencrypt_enabled %}
ssl_stapling on;
ssl_stapling_verify on;
ssl_trusted_certificate /etc/letsencrypt/live/{{ server_name }}/fullchain.pem;
{% endif %}

resolver 8.8.8.8 8.8.4.4 [2001:4860:4860::8888] [2001:4860:4860::8844] valid=300s;

{% if nginx_strong_dh_group %}
ssl_dhparam          /etc/ssl/certs/dhparams.pem;
{% endif %}

location /.well-known/acme-challenge/ {
   default_type "text/plain";
   root {{ letsencrypt_tmp_dir }};
}
