{% from '_utils.j2' import csp_block, cors, hsts_header with context %}

{# add_headers need to be set on location #}
{% macro add_static_headers() -%}
    {% if onion_service_enabled and not ".onion" in static_server_name %}
        add_header alt-svc 'h2="{{ onion_static_server }}:443"; ma=86400; persist=1';
        add_header Onion-Location 'http://{{ onion_static_server }}$request_uri';
    {% endif %}
    {% if not ".onion" in static_server_name %}
        {{ hsts_header() }}
    {% endif %}
{%- endmacro %}

{% macro static_location() -%}
    referer_hash_bucket_size 128;
    valid_referers none blocked {{ web_server_name }} {{ media_server_name }} {{ static_server_name }} {% for valid_ref in valid_referrers %}{{ valid_ref }} {% endfor%} localhost;
    if ($invalid_referer) {
        return   403;
    }
    {% set default_headers %}
        {{ csp_block(static_content_security_policy, web=web_server_url, media=media_server_url, static=static_server_url) }}
        {{ add_static_headers() }}
    {% endset %}
    {{ default_headers }}
    {{ cors(web_server_url, null_fallback=True, repeat_headers=default_headers) }}
    {{ cors("http://localhost", repeat_headers=default_headers) }}
    {% for valid_ref in valid_referrers %}{{ cors("https://" + valid_ref, repeat_headers=default_headers) }}{% endfor %}

{%- endmacro %}

expires $expires;

location = /nope {
    default_type text/html;
    {{ add_static_headers() }}
    alias {{ virtualenv_path }}/simple_files/bad_referrer.html;
}

{% for asset in nginx_assets_dir %}
location {{ asset.url }} {
    {{ static_location() }}
    alias {{ nginx_media_dir }}/{{ asset.dir }};
}
{% endfor %}

location /static/ {
    {{ static_location() }}

    alias   {{ nginx_static_dir }};
}
{% for simple_file in simple_files %}
    {% if simple_file.path is defined %}
        location = {{ simple_file.path }} {
            {% if simple_file.mimetype is defined %}
                add_header Content-Type "{{ simple_file.mimetype }}";
                default_type {{ simple_file.mimetype }};
            {% endif %}
            {{ add_static_headers() }}

            alias {{ virtualenv_path }}/simple_files/{{ simple_file.filename }};
        }
    {% endif %}
{% endfor %}
