{% from '_utils.j2' import csp_block, cors with context %}


{# add_headers need to be set on location #}
{% macro add_static_headers() -%}
    {% if onion_service_enabled and not ".onion" in static_server_name %}
        add_header alt-svc 'h2="{{ onion_static_server }}:443"; ma=86400; persist=1';
        add_header Onion-Location 'http://{{ onion_static_server }}$request_uri';
    {% endif %}
{%- endmacro %}

{% macro static_location() -%}
    referer_hash_bucket_size 128;
    valid_referers none blocked {{ web_server_name }} {{ media_server_name }} {{ static_server_name }} localhost;
    if ($invalid_referer) {
        return   403;
    }

    {{ csp_block(static_content_security_policy, web=web_server_url, media=media_server_url, static=static_server_url) }}
    {{ cors(web_server_url) }}
    {{ cors("http://localhost") }}
    {{ add_static_headers() }}
{%- endmacro %}

expires $expires;

location /nope {
    default_type text/html;
    alias {{ virtualenv_path }}/simple_files/bad_referrer.html;
}

{% for asset in nginx_assets_dir %}
location {{ asset.url }} {
    {{ static_location() }}
    alias {{ nginx_media_dir }}/{{ asset.dir }};
}
{% endfor %}

location /static/ {
    {{ static_location() }}

    alias   {{ nginx_static_dir }};
}
{% for simple_file in simple_files %}
    {% if simple_file.path is defined %}
        location {{ simple_file.path }} {
            {% if simple_file.mimetype is defined %}
                add_header Content-Type "{{ simple_file.mimetype }}";
            {% endif %}
            {{ add_static_headers() }}

            alias {{ virtualenv_path }}/simple_files/{{ simple_file.filename }};
        }
    {% endif %}
{% endfor %}