{% from '_utils.j2' import csp_block, cors with context %}

expires $expires;

location /nope {
    default_type text/html;
    alias {{ virtualenv_path }}/simple_files/bad_referrer.html;
}

location /static/ {
    {{ csp_block(static_content_security_policy, web=web_server_url, media=media_server_url, static=static_server_url) }}
    {{ cors(web_server_url) }}
    {{ cors("http://localhost") }}

    alias   {{ nginx_static_dir }};
}
{% for simple_file in simple_files %}
    location {{ simple_file.path }} {
        {% if simple_file.mimetype is defined %}
            add_header Content-Type "{{ simple_file.mimetype }}";
        {% endif %}
        alias {{ virtualenv_path }}/simple_files/{{ simple_file.filename }};
    }
{% endfor %}