{% from '_utils.j2' import basic_auth, proxy_wsgi_upstream, proxy_asgi_upstream, cors, hsts_header with context %}

{# add_headers need to be set on location #}
{% macro add_web_headers() -%}
    add_header Referrer-Policy "same-origin";
    add_header Permissions-Policy interest-cohort=();
    add_header Content-Security-Policy ${{ csp_header_var|default('csp_header') }};

    {% if onion_service_enabled and not ".onion" in web_server_name %}
        add_header alt-svc 'h2="{{ onion_web_server }}:443"; ma=86400; persist=1';
        add_header Onion-Location 'http://{{ onion_web_server }}$request_uri';
    {% endif %}
    {% if not ".onion" in web_server_name %}
        {{ hsts_header() }}
    {% endif %}
{%- endmacro %}

{% if maintenance %}
    set $maintenance on;

    {% if maintenance_admin_ip %}
    if ($remote_addr ~ ({{ maintenance_admin_ip }})) {
        set $maintenance off;
    }
    {% endif %}
    if ($maintenance = on) {
        return 503;
    }
{% endif %}

expires $expires;

client_max_body_size 50M;

access_log {{ nginx_access_log_file }};
error_log {{ nginx_error_log_file }};


{% if temp_redirect_paths is defined %}
    {% for redirect_path in temp_redirect_paths %}
        location ~ {{ redirect_path.from }}([^\s]*)$ {
          {{ add_web_headers() }}
          return 302 {{ redirect_path.path }}$1$is_args$args;
        }
    {% endfor %}
{% endif %}

{% if redirect_paths is defined %}
    {% for redirect_path in redirect_paths %}
        location ~ {{ redirect_path.from }}([^\s]*)$ {
          {{ add_web_headers() }}
          return 301 {{ redirect_path.path }}$1$is_args$args;
        }
    {% endfor %}
{% endif %}

{% for simple_file in simple_files %}
    {% if simple_file.path is defined %}
        location = {{ simple_file.path }} {
            {{ add_web_headers() }}
            {% if simple_file.mimetype is defined %}
                add_header Content-Type "{{ simple_file.mimetype }}";
            {% endif %}
            alias {{ virtualenv_path }}/simple_files/{{ simple_file.filename }};
        }
    {% endif %}
{% endfor %}

if ($bad_referrer) {
    return 301 $bad_referrer;
}

location /favicon.ico {
    {{ add_web_headers() }}
    return 404;
}

location /static/ {
    {{ add_web_headers() }}
    rewrite     ^ https://{{ static_server_name }}$request_uri? permanent;
}

{% for loc in nginx_public_media %}
    location {{ loc.url }} {
        {{ add_web_headers() }}
        rewrite     ^ https://{{ media_server_name }}$request_uri? permanent;
    }
{% endfor %}

{% for item in rate_limited_urls %}
    location {{ item.url }} {
        limit_req zone={{ item.zone }} burst=5 nodelay;
        {% if item.auth %}{{ basic_auth(item.auth) }}{% endif %}
        {{ add_web_headers() }}

        {{ proxy_wsgi_upstream() }}
    }
{% endfor %}

{% for url_realm in protected_urls %}
    location {{ url_realm.url }} {
        {{ basic_auth(url_realm.realm) }}
        {% if url_realm.only_ip is defined %}
            {% for ip in url_realm.only_ip %}
            allow {{ ip }};
            {% endfor %}
            deny all;
        {% endif %}
        {% if url_realm.max_upload_mb is defined %}
            client_max_body_size {{ url_realm.max_upload_mb }}m;
        {% endif %}

        {% set default_headers = add_web_headers() %}
        {{ default_headers }}
        {{ cors(static_server_url, repeat_headers=default_headers) }}

        {{ proxy_wsgi_upstream() }}
    }
{% endfor %}

{% for url_origins in cors_exceptions %}
    location {{ url_origins.url }} {
        {% set default_headers = add_web_headers() %}
        {{ default_headers }}

        {% for origin in url_origins.origins %}
            {{ cors(origin | regex_replace('__media__', media_server_url) | regex_replace('__static__', static_server_url), repeat_headers=default_headers) }}
        {% endfor %}

        {{ proxy_wsgi_upstream() }}
    }
{% endfor %}

location /ws/ {
    {{ add_web_headers() }}

    {{ proxy_asgi_upstream() }}
}

{% for path in nginx_cache_urls %}
location = {{ path }} {
    proxy_cache fds_cache;
    proxy_cache_bypass $cookie_sessionid $cookie_csrftoken;
    proxy_no_cache $cookie_sessionid $cookie_csrftoken;
    proxy_cache_valid 10m;
    proxy_ignore_headers Expires;
    proxy_ignore_headers "Cache-Control";

    add_header X-Proxy-Cache $upstream_cache_status;

    {{ add_web_headers() }}

    {{ proxy_wsgi_upstream() }}
}

{% endfor %}

location / {
    {% set default_headers = add_web_headers() %}
    {{ default_headers }}
    {{ cors(static_server_url, repeat_headers=default_headers) }}

    {{ proxy_wsgi_upstream() }}
}

# Error pages
error_page 500 /500.html;
location = /500.html {
    {{ add_web_headers() }}
    root {{ project_path }}/{{ application_name }}/templates/;
}
error_page 502 503 504 @maintenance;
location @maintenance {
    {{ add_web_headers() }}
    root {{ virtualenv_path }}/static_html/;
    rewrite ^(.*)$ /maintenance.html break;
}
