<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<title>Nicht verfügbar aus rechtlichen Gründen</title>
<meta name="description" content="Nicht verfügbar aus rechtlichen Gründen...">
<style type="text/css">
    /* Reset */
  html, body, div, article, p, a{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article {
    display: block;
  }
  body {
    line-height: 1;
  }
  html {font-size: 16px;}
  body { text-align: center; padding: 150px; }
  h1 { font-size: 40px; font-weight: bold; margin-bottom: 1rem;}
  p {font-size: 1.5rem; margin-bottom: 1rem;}
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #2B67C7; text-decoration: none; }
  a:hover { color: #2254A4; text-decoration: none; }
</style>
</head>
<body>
<article>
<h1>Aus rechtlichen Gründen nicht verfügbar</h1>
<p>Diese Seite können wir aus rechtlichen Gründen leider nicht zeigen.</p>
<p>Um uns bei unseren rechtlichen Auseinandersetzungen zu unterstützen, <a href="https://fragdenstaat.de/spenden/">können Sie gerne für Informationsfreiheit spenden!</a></p>
<p>— FragDenStaat.de</p>
</article>
</body></html>
