{% from '_utils.j2' import csp_header_map with context %}

map $sent_http_content_type $expires {
    default                     off;
    text/html                   epoch;
    text/css                    max;
    application/javascript      max;
    application/x-font-ttf      max;
    font/opentype               max;
    application/font-woff       max;
    application/font-woff2      max;
    application/pdf             max;
    ~image/                     max;
}

map $sent_http_content_type $media_expires {
    default                     off;
    text/html                   epoch;
    application/pdf             off;
    ~image/                     max;
}

{{ csp_header_map() }}

map $http_referer $bad_referrer {
    default                  0;
    {% for domain in bad_referrers %}
    "~{{ domain.domain }}"          "https://{{ static_server_name }}/nope?url={{ domain.url|urlencode() }}";
    {% endfor %}
}

upstream {{ application_name }}_wsgi_server {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response (in case the Unicorn master nukes a
  # single worker for timing out).

  server unix:{{ virtualenv_path }}/run/gunicorn.sock fail_timeout=0;
}


{% if redirect_domains is defined %}
  {% for redirect_domain in redirect_domains %}
    server {
        listen 80;
        listen [::]:80;
        server_name {{ redirect_domain.from }};

        location /.well-known/acme-challenge/ {
           default_type "text/plain";
           root {{ letsencrypt_tmp_dir }};
        }

        location / {
            return 301 https://{{ redirect_domain.domain }}$request_uri;
        }
    }
    {% if redirect_domain.https and active_https_domains[redirect_domain.from] %}
        server {
            listen              443 ssl http2;
            listen         [::]:443 ssl http2;
            server_name         {{ redirect_domain.from }};

            {% with server_name = redirect_domain.from %}
                {% include '_ssl.j2' %}
            {% endwith %}
            location / {
                return 301 https://{{ redirect_domain.domain }}$request_uri;
            }
        }
    {% endif %}
  {% endfor %}
{% endif %}


server {
    listen 80;
    server_name localhost 127.0.0.1;
    location /nginx_status {
        stub_status;
        allow 127.0.0.1;        # only allow requests from localhost
        deny all;               # deny all other hosts
    }
}


server {
    listen      80;
    listen [::]:80;
    server_name {{ web_server_name }} www.{{ web_server_name }};
    rewrite     ^ https://{{ web_server_name }}$request_uri? permanent;
}

server {
    listen      443 ssl http2;
    listen [::]:443 ssl http2;
    server_name         www.{{ web_server_name }};
    {% with server_name = web_server_name %}
        {% include '_ssl.j2' %}
    {% endwith %}

    rewrite     ^ https://{{ web_server_name }}$request_uri? permanent;
}

server {
    listen              443 ssl http2;
    listen         [::]:443 ssl http2;
    server_name         {{ web_server_name }};

    {% with server_name = web_server_name %}
        {% include '_ssl.j2' %}
    {% endwith %}

    {% include '_web_server.j2' %}
}

server {
    listen              443 ssl http2;
    listen         [::]:443 ssl http2;
    server_name         {{ media_server_name }};

    {% with server_name = media_server_name %}
        {% include '_ssl.j2' %}
    {% endwith %}

    {% include '_media_server.j2' %}
}

server {
    listen              443 ssl http2;
    listen         [::]:443 ssl http2;
    server_name         {{ static_server_name }};

    {% with server_name = static_server_name %}
        {% include '_ssl.j2' %}
    {% endwith %}

    {% include '_static_server.j2' %}
}

{% for site in nginx_extra_domains %}
server {
    listen              443 ssl http2;
    listen         [::]:443 ssl http2;
    server_name         {{ site.domain }};

    {% with server_name = site.domain %}
        {% include '_ssl.j2' %}
    {% endwith %}

    {% for file in site.files %}
    location {{ file.path }} {
        alias {{ virtualenv_path }}/simple_files/{{ file.filename }};
    }
    {% endfor %}

}
{% endfor %}

{% if onion_service_enabled %}

{% with onion_service = onion_services['onion_web'], csp_header_var="csp_header_onion" %}

{{ csp_header_map(header_var=csp_header_var, web=onion_web_server_url, media=onion_media_server_url, static=onion_static_server_url) }}

upstream {{ application_name }}_onion_wsgi_server {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response (in case the Unicorn master nukes a
  # single worker for timing out).

  server unix:{{ virtualenv_path }}/run/gunicorn_onion.sock fail_timeout=0;
}

server {
    listen 127.0.0.1:{{ onion_service.internal_port }};
    server_name         {{ onion_service.hostname }};

    {% with web_server_name = onion_service.hostname, media_server_name=onion_media_server, static_server_name=onion_static_server, wsgi_app_name=application_name + "_onion", web_server_url=onion_web_server_url, media_server_url=onion_media_server_url, static_server_url=onion_static_server_url %}
        {% include '_web_server.j2' %}
    {% endwith %}
}
{% endwith %}

{% with onion_service = onion_services['onion_static_media'] %}

server {
    listen 127.0.0.1:{{ onion_service.internal_port }};
    server_name         media.{{ onion_service.hostname }};

    {% with media_server_name = "media." + onion_service.hostname, web_server_url=onion_web_server_url, media_server_url=onion_media_server_url, static_server_url=onion_static_server_url %}
        {% include '_media_server.j2' %}
    {% endwith %}
}

server {
    listen 127.0.0.1:{{ onion_service.internal_port }};
    server_name         static.{{ onion_service.hostname }};

    {% with static_server_name = "static." + onion_service.hostname, web_server_url=onion_web_server_url, media_server_url=onion_media_server_url, static_server_url=onion_static_server_url %}
        {% include '_static_server.j2' %}
    {% endwith %}
}

{% endwith %}

{% endif %}