{{ application_log_dir }}/nginx_*.log {
        daily
        missingok
        rotate {{ nginx_log_retention_days }}
        compress
        delaycompress
        notifempty
        create 0640 www-data adm
        sharedscripts
        postrotate
                invoke-rc.d nginx rotate >/dev/null 2>&1
        endscript
}

{{ nginx_pixel_log_file }} {
        monthly
        missingok
        rotate {{ nginx_pixel_log_retention_days }}
        compress
        delaycompress
        notifempty
        create 0640 www-data adm
        sharedscripts
        postrotate
                invoke-rc.d nginx rotate >/dev/null 2>&1
		/usr/bin/stat --format="%i" {{ nginx_pixel_log_file }}.1 > pixel_log.offset; echo 0 >> pixel_log.offset
		/usr/bin/setfacl -m u:{{ gunicorn_user }}:r {{ nginx_pixel_log_file }} > /dev/null
		/usr/bin/setfacl -m u:{{ gunicorn_user }}:r {{ nginx_pixel_log_file }}.1 > /dev/null
        endscript
}
