{{ application_log_dir }}/nginx_*.log {
        daily
        missingok
        rotate {{ nginx_log_retention_days }}
        compress
        delaycompress
        notifempty
        create 0640 www-data adm
        sharedscripts
        postrotate
                invoke-rc.d nginx rotate >/dev/null 2>&1
        endscript
}