#!/bin/bash

set -ex

HOME=/home/stage
PACKAGE=poppler-0.80.0

mkdir -p $HOME

pushd $HOME

wget -nc poppler.freedesktop.org/${PACKAGE}.tar.xz
tar -xvf ~/${PACKAGE}.tar.xz
pushd $PACKAGE
mkdir -p build
pushd build
cmake ..
make
sudo checkinstall -y
