#!/bin/bash

set -ex

source {{ virtualenv_path }}/bin/activate

{% for module in frontend_modules %}
pushd $(python -c "import {{ module.pypackage }} as mod; print(mod.__path__[0])")/..
yarn install
yarn link
popd
{% endfor %}

pushd {{ project_path }}

yarn install

{% for module in frontend_modules %}
yarn link {% if module.jspackage is defined %}{{ module.jspackage }}{% else %}{{ module.pypackage }}{% endif %}

{% endfor %}

ASSET_PATH={{ static_asset_path }} yarn run build --bail

popd
