version: '2'

services:
  roundcubemail:
    image: roundcube/roundcubemail:latest
    container_name: roundcubemail
    restart: unless-stopped
    ports:
      - 127.0.0.1:{{ roundcube_port }}:80
    volumes:
      - ./data/www:/var/www/html
      - ./data/db:/var/roundcube/db
      - ./data/config:/var/roundcube/config
    environment:
      - ROUNDCUBEMAIL_DB_TYPE=sqlite
      - ROUNDCUBEMAIL_SKIN=elastic
      - ROUNDCUBEMAIL_DEFAULT_HOST=ssl://{{ mail_domain}}
      - ROUNDCUBEMAIL_DEFAULT_PORT=993
      - ROUNDCUBEMAIL_SMTP_SERVER=ssl://{{ mail_domain }}
      - ROUNDCUBEMAIL_UPLOAD_MAX_FILESIZE=20M
