object User "icingaadmin" {
  import "generic-user"

  display_name = "Icinga 2 Admin"
  groups = [ "icingaadmins" ]

  email = "{{ icinga2_admin_email }}"
}

object UserGroup "icingaadmins" {
  display_name = "Icinga 2 Admin Group"
}

{% for user in icinga2_users %}
object User "{{ user }}" {
  import "generic-user"

  display_name = "{{ user }}"

  email = "{{ icinga2_users[user].email }}"
  vars.pushover_user_key = "{{ icinga2_users[user].pushover_user_key }}"
  vars.pushover_api_token = "{{ icinga2_users[user].pushover_api_token }}"
}
{% endfor %}
