---

- name: Install additional packages
  ansible.builtin.apt:
    name:
      - gettext
      - imagemagick
      - tesseract-ocr
      - libtesseract-dev
      - libleptonica-dev
      - tesseract-ocr-deu
      - qpdf
      - libpoppler-cpp-dev
      - ocrmypdf
      - optipng
      - osmctools
      - jpegoptim
      - dirmngr
      - git
      - libpq-dev
      - python3-tk
      - python3-dev
      - python3-pip
      - python3-pycurl
      - supervisor
      - webp
    update_cache: "{{ update_apt_cache }}"
    force: true
    state: present
  retries: 3
  delay: 10

- name: Upgrade pip
  ansible.builtin.pip:
    name: pip
    state: latest
  tags: packages
  when: ansible_distribution_major_version|int <= 22

- name: Install uv
  ansible.builtin.pip:
    name: uv
  tags:
    - packages
    - skip_ansible_lint

- name: Comment out ImageMagick policy entries for PDF none
  ansible.builtin.replace:
    path: /etc/ImageMagick-6/policy.xml
    regexp: '^(  <policy domain="coder" rights="none" pattern="PDF" />)$'
    replace: '<!-- \1 -->'

- name: Increase ImageMagick cache disk resources
  ansible.builtin.replace:
    path: /etc/ImageMagick-6/policy.xml
    regexp: '<policy domain="resource" name="disk" value="1GiB"/>'
    replace: '<policy domain="resource" name="disk" value="8GiB"/>'

- name: Add ImageMagick policy entries tmp resource and PDF read/write
  ansible.builtin.blockinfile:
    path: /etc/ImageMagick-6/policy.xml
    insertbefore: '</policymap>'
    block: |
      <policy domain="coder" rights="read | write" pattern="PDF" />
      <policy domain="resource" name="temporary-path" value="/tmp"/>
    marker: "<!-- {mark} ANSIBLE MANAGED BLOCK -->"

- name: Add ImageMagick policy entries for paths
  ansible.builtin.blockinfile:
    path: /etc/ImageMagick-6/policy.xml
    insertbefore: '</policymap>'
    block: |
      <policy domain="path" rights="read | write" pattern="{{ item }}/*" />
    marker: "<!-- {mark} ANSIBLE MANAGED BLOCK {{ item }} -->"
  with_items:
    - "{{ django_media_root }}/foi"
    - "{{ django_media_root }}/docs"

- name: Fix up ImageMagick policy about PDFs
  ansible.builtin.replace:
    path: /etc/ImageMagick-6/policy.xml
    regexp: '<policy domain="coder" rights="none" pattern="PDF" />'
    replace: ''
    after: 'Start after line.*'
    backup: true

- name: Add LibreOffice repository
  ansible.builtin.apt_repository:
    repo: "ppa:libreoffice/ppa"
    state: present

- name: Install LibreOffice
  ansible.builtin.apt:
    name: libreoffice
    state: latest
    update_cache: true
  retries: 3
  delay: 10

- name: Install Tor
  ansible.builtin.apt:
    name: tor
    state: latest
    update_cache: true
  when: onion_service_enabled
  retries: 3
  delay: 10
