- name: Add maintenance script
  template:
    src: maintenance.sh.j2
    dest: "{{ virtualenv_path }}/maintenance.sh"
    mode: "0755"

- cron:
    name: "Run maintenance script"
    minute: "0"
    hour: "2"
    job: "bash {{ virtualenv_path }}/maintenance.sh"
    user: fragdenstaat_de
