server {
  server_name     {{ sentry_domain }};

  location / {
    proxy_pass              http://localhost:9000;
    proxy_http_version 1.1;
    proxy_redirect off;
    proxy_buffering off;
    proxy_next_upstream error timeout invalid_header http_502 http_503 non_idempotent;
    proxy_next_upstream_tries 2;
    proxy_read_timeout 30s;
    proxy_send_timeout 5s;
    proxy_set_header Connection '';
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Request-Id $request_id;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    expires             6h;
  }


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/sentry.okfn.de/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/sentry.okfn.de/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
    if ($host = {{ sentry_domain }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


  server_name     {{ sentry_domain }};
    listen 80;
    return 404; # managed by Certbot


}