server {
    listen 80;
    listen [::]:80;

    listen 443 ssl;
    listen [::]:443 ssl;

    server_name {{ item | replace('-tst.okfn.de', '') }}.test.zerschlagdenstaat.de
    {% for domain in hostvars[item].https_domains %}
                {{ domain[0] }}
    {% endfor %}
                ;
    proxy_ssl_server_name on;

    location / {
        proxy_pass https://{{ hostvars[item].host_data.site_ipv4 }};
    }
}
