#!/bin/bash

export BORG_REPO="ssh://{{ backup_repo.user }}@{{ backup_repo.host }}:{{ backup_repo.port }}/./{{ backup_repo.path }}"
export BORG_PASSPHRASE="{{ backup_repo.repokey }}"

mkdir -p /mnt/borg/

echo "Mounting all backup generations into /mnt/borg/"
/usr/bin/borg mount :: /mnt/borg/

echo "Remember to unmount (\"umount /mnt/borg\") the repo, otherwise the next backup will fail."
