#!/bin/bash

export BORG_REPO="ssh://{{ backup_repo.user }}@{{ backup_repo.host }}:{{ backup_repo.port }}/./{{ backup_repo.path }}"
export BORG_PASSPHRASE="{{ backup_repo.repokey }}"

/usr/bin/borg key export :: --paper
echo ""
echo "-------------------------------------------------------------------------------"
/usr/bin/borg list
echo ""
echo "-------------------------------------------------------------------------------"
/usr/bin/borg info
