#!/bin/bash

export TMPDIR="/var/tmp/restic"

/usr/bin/restic snapshots -r sftp:{{ backup_repo.user }}@{{ backup_repo.host }}:./{{ backup_repo.path }}/ --password-file /root/restic.passwd
echo ""
echo "-------------------------------------------------------------------------------"
/usr/bin/restic stats -r sftp:{{ backup_repo.user }}@{{ backup_repo.host }}:./{{ backup_repo.path }}/ --password-file /root/restic.passwd
