#!/bin/bash

BOOTUP=mono
LOGFILE="/tmp/restic.log"
RES_COL=70
MOVE_TO_COL="echo -en \\033[${RES_COL}G"
SETCOLOR_SUCCESS="echo -en \\033[1;32m"
SETCOLOR_FAILURE="echo -en \\033[1;31m"
SETCOLOR_NORMAL="echo -en \\033[0;39m"

echo_success() {
    [ "$BOOTUP" = "color" ] && $MOVE_TO_COL
    echo -n "  ["
    [ "$BOOTUP" = "color" ] && $SETCOLOR_SUCCESS
    echo -n $"  OK  "
    [ "$BOOTUP" = "color" ] && $SETCOLOR_NORMAL
    echo -n "]"
    echo -ne "\r"
    curl -s -POST http://192.168.100.5:12201/gelf -p0 -d '{"host":"{{ inventory_hostname }}","facility":"restic","message":"'"${STEP_NAME}"'","status":"OK"}'
    return 0
}

echo_failure() {
    [ "$BOOTUP" = "color" ] && $MOVE_TO_COL
    echo -n "  ["
    [ "$BOOTUP" = "color" ] && $SETCOLOR_FAILURE
    echo -n $"FAILED"
    [ "$BOOTUP" = "color" ] && $SETCOLOR_NORMAL
    echo -n "]"
    echo -ne "\r"
    curl -s -POST http://192.168.100.5:12201/gelf -p0 -d '{"host":"{{ inventory_hostname }}","facility":"restic","message":"'"${STEP_NAME}"'","status":"ERR"}'
    return 1
}

step() {
    echo -n "$@" | awk '{printf "%-'${RES_COL}'s", $0}'
    echo "" >> "${LOGFILE}"
    echo "$(date)" >> "${LOGFILE}"
    echo "$*" >> "${LOGFILE}"

    STEP_OK=0
    STEP_NAME="$@"
    [[ -w /tmp ]] && echo $STEP_OK > /tmp/step.$$
}

try() {
    "$@" &>> "${LOGFILE}"

    # Check if command failed and update $STEP_OK if so.
    local EXIT_CODE=$?

    if [[ $EXIT_CODE -ne 0 ]]; then
        STEP_OK=$EXIT_CODE
        [[ -w /tmp ]] && echo $STEP_OK > /tmp/step.$$

        if [[ -n $LOG_STEPS ]]; then
            local FILE=$(readlink -m "${BASH_SOURCE[1]}")
            local LINE=${BASH_LINENO[0]}

            echo "$FILE: line $LINE: Command \`$*' failed with exit code $EXIT_CODE." >> "${LOGFILE}"
        fi
    fi

    return $EXIT_CODE
}

next() {
    [[ -f /tmp/step.$$ ]] && { STEP_OK=$(< /tmp/step.$$); rm -f /tmp/step.$$; }
    [[ $STEP_OK -eq 0 ]]  && echo_success || echo_failure
    echo

    return $STEP_OK
}

LOCKFILE="/var/lock/$(basename $0)"
LOCKFD=99

_lock()             { flock -$1 $LOCKFD; }
_no_more_locking()  { _lock u; _lock xn && rm -f $LOCKFILE; }
_prepare_locking()  { eval "exec $LOCKFD>\"$LOCKFILE\""; trap _no_more_locking EXIT; }

_prepare_locking

exlock_now()        { _lock xn; }  # obtain an exclusive lock immediately or fail
exlock()            { _lock x; }   # obtain an exclusive lock
shlock()            { _lock s; }   # obtain a shared lock
unlock()            { _lock u; }   # drop a lock
exerror()           { echo "$1";exit "${2:-1}"; }

exlock_now || exerror "ERROR: Lockfile exists, is there another instance already running? Exiting..."

do_cleanup () {
    curl -s -POST http://192.168.100.5:12201/gelf -p0 -d '{"host":"{{ inventory_hostname }}","facility":"restic","message":"Backup failed","status":"ERR"}'
    echo "ERROR, exiting..."
    echo "Unmounting and removing snapshots"
{% if 'snapshots' in restic %}
{% for u in restic.snapshots %}
    /bin/umount {{ u.mnt }}
{% endfor %}
{% for l in restic.snapshots %}
    /sbin/lvremove {{ l.dev }}-snapshot -f
{% endfor %}
{% endif %}

    echo ""
    echo "Logfile:"
    cat "${LOGFILE}"
    rm "${LOGFILE}"

    exit 2
}

#trap 'echo "ERROR: Backup interrupted"; do_cleanup error; exit 2' INT TERM # Gracefully quit on (any) error
trap 'echo "received signal to stop"; do_cleanup interrupted; exit 1' SIGQUIT SIGTERM SIGINT # Gracefully quit on break

echo "" > "${LOGFILE}"

curl -s -POST http://192.168.100.5:12201/gelf -p0 -d '{"host":"{{ inventory_hostname }}","facility":"restic","message":"Backup start","status":"OK"}'
echo "Start Backup $(date)"
echo "-------------------------------------------------------------------------------"
echo ""
{% if 'snapshots' in restic %}
step "Create mountpoints"
{% for mk in restic.snapshots %}
  mkdir {{ mk.mnt }} -p || /bin/true
{% endfor %}
next

step "Create snapshots"
{% for s in restic.snapshots %}
  try /sbin/lvcreate -l100%FREE -s -n {{ s.name }}-snapshot {{ s.dev }}
{% endfor %}
next

step "Mount snapshots"
{% for m in restic.snapshots %}
  try /bin/mount {{ m.dev }}-snapshot {{ m.mnt }}
{% endfor %}
next
{% endif %}

step "Remove stale locks"
  try /usr/bin/restic unlock -r sftp:{{ backup_repo[inventory_hostname].user }}@{{ backup_repo[inventory_hostname].host }}:./{{ backup_repo[inventory_hostname].path }}/ --password-file /root/restic.passwd
next

{% if 'prescripts' in restic %}
{% for prescript in restic.prescripts %}
step "Prescript {{ prescript }}"
  try /root/{{ prescript }}
next
{% endfor %}
{% endif %}

step "Create backup"
  try /usr/bin/restic backup {{ restic.locations }} --limit-upload 62500 -r sftp:{{ backup_repo[inventory_hostname].user }}@{{ backup_repo[inventory_hostname].host }}:./{{ backup_repo[inventory_hostname].path }}/ --password-file /root/restic.passwd --exclude-file /root/restic.exclude
next

{% if 'snapshots' in restic %}
step "Umount and remove snapshots"
{% for u in restic.snapshots %}
  try /bin/umount {{ u.mnt }}
{% endfor %}
{% for l in restic.snapshots %}
  try /sbin/lvremove {{ l.dev }}-snapshot -f
{% endfor %}
next
{% endif %}

{% if 'postscripts' in restic %}
{% for postscript in restic.postscripts %}
step "Postscript {{ postscript }}"
  try /root/{{ postscript }}
next
{% endfor %}
{% endif %}

step "Remove old snapshots"
  try /usr/bin/restic forget --keep-daily {{ restic.keepdaily }} -r sftp:{{ backup_repo[inventory_hostname].user }}@{{ backup_repo[inventory_hostname].host }}:./{{ backup_repo[inventory_hostname].path }}/ --password-file /root/restic.passwd
next

if (( $(date +"%d") == 15)); then
  step "Prune backup generations"
    try /usr/bin/restic prune -r sftp:{{ backup_repo[inventory_hostname].user }}@{{ backup_repo[inventory_hostname].host }}:./{{ backup_repo[inventory_hostname].path }}/ --password-file /root/restic.passwd
  next
fi

if (( $(date +"%u") == 1)); then
  step "Backup Check (verify)"
    export TMPDIR="/var/tmp/restic"
    mkdir -p "/var/tmp/restic"
    try /usr/bin/restic check --read-data -r sftp:{{ backup_repo[inventory_hostname].user }}@{{ backup_repo[inventory_hostname].host }}:./{{ backup_repo[inventory_hostname].path }}/ --password-file /root/restic.passwd
  next
else
  step "Backup Check (quick)"
    try /usr/bin/restic check -r sftp:{{ backup_repo[inventory_hostname].user }}@{{ backup_repo[inventory_hostname].host }}:./{{ backup_repo[inventory_hostname].path }}/ --password-file /root/restic.passwd
  next
fi

step "Backup stats"
  try /usr/bin/restic stats -r sftp:{{ backup_repo[inventory_hostname].user }}@{{ backup_repo[inventory_hostname].host }}:./{{ backup_repo[inventory_hostname].path }}/ --password-file /root/restic.passwd
next

curl -s -POST http://192.168.100.5:12201/gelf -p0 -d '{"host":"{{ inventory_hostname }}","facility":"restic","message":"Backup end","status":"OK"}'
echo ""
echo "-------------------------------------------------------------------------------"
echo "Logfile:"
cat "${LOGFILE}"
rm "${LOGFILE}"
echo "-------------------------------------------------------------------------------"
