#!/bin/bash

export TMPDIR="/var/tmp/restic"

mkdir -p /mnt/restic/

echo "Mounting into /mnt/restic/"
/usr/bin/restic mount -r sftp:{{ backup_repo.user }}@{{ backup_repo.host }}:./{{ backup_repo.path }}/ --password-file /root/restic.passwd /mnt/restic/
