#!/bin/bash

echo "df" | sftp -q {{ backup_repo[inventory_hostname]['user'] }}@{{ backup_repo[inventory_hostname]['host'] }} | grep -v "Size" | grep -v "sftp" | awk '{print "storagebox_size "$1"\nstoragebox_used "$2"\nstoragebox_avail "$3}' > /var/lib/prometheus/node-exporter/storagebox.prom

{% if "borg" in hostvars[inventory_hostname] %}
echo "storagebox_keepdaily{locations=\"{{ borg.locations }}\"} {{ borg.keepdaily }}" >> /var/lib/prometheus/node-exporter/storagebox.prom
{% endif %}

{% if "restic" in hostvars[inventory_hostname] %}
echo "storagebox_keepdaily{locations=\"{{ restic.locations }}\"} {{ restic.keepdaily }}" >> /var/lib/prometheus/node-exporter/storagebox.prom
{% endif %}
