{% if 'tst.okfn.de' in inventory_hostname %}
{% set ipv4 = host_data.vlan_ipv4 %}
{% else %}
{% set ipv4 = host_data.site_ipv4 %}
{% endif %}
[Match]
Name={{ host_data.interface_name}}.{{ network_vlan.id }}
[Network]
Description="VLAN {{ network_vlan.id }}"
Address={{ ipv4 }}/24
