#!/bin/sh

export FTP_PASSWORD='{{ backup_ftp_password }}'
export PASSPHRASE='{{ backup_gpg_password }}'

set -ex

PATH=/usr/bin:/bin
DATE=`date +%F`
DAYOFMONTH=`date +%d`

umask 177

if [ ! -f {{ virtualenv_path }}/backup/dpkg-${DATE}.txt ]; then
	dpkg --get-selections > {{ virtualenv_path }}/backup/dpkg-${DATE}.txt
fi

if [ ! -f {{ virtualenv_path }}/backup/sqlbackup-$DATE.sql.gz ]; then
	sudo -u postgres pg_dumpall | gzip -c > {{ virtualenv_path }}/backup/sqlbackup-$DATE.sql.gz
	#cp {{ virtualenv_path }}/backup/sqlbackup-$DATE.sql.gz /home/fdsbot/backups/sqlbackup.sql.gz
	#chown fdsbot /home/fdsbot/backups/sqlbackup.sql.gz
fi

find {{ virtualenv_path }}/backup/ -mtime +7 -exec rm -Rf -- {} \;

# SQL Dump Backup
/usr/local/bin/duplicity -v 2 --full-if-older-than 1W {{ virtualenv_path }}/backup/ {{ backup_ftp_url }}/fds-sql-backup >> {{ virtualenv_path }}/logs/fds-sql-backup.log
/usr/local/bin/duplicity -v 2 remove-all-but-n-full 1 --force {{ backup_ftp_url }}/fds-sql-backup >> {{ virtualenv_path }}/logs/fds-sql-backup.log

# Mail backup
/usr/local/bin/duplicity -v 2 --full-if-older-than 1M /var/vmail/ {{ backup_ftp_url }}/mail-backup >> {{ virtualenv_path }}/logs/mail-backup.log
/usr/local/bin/duplicity -v 2 remove-all-but-n-full 1 --force {{ backup_ftp_url }}/mail-backup >> {{ virtualenv_path }}/logs/mail-backup.log

# Storage Backup
/usr/local/bin/duplicity -v 2 --exclude-regexp 'files/docs(-private)?/[a-f0-9]{2}/[a-f0-9]{2}/[a-f0-9]{2}/[a-f0-9]{32}/page-p\d+-\w+\.png(\.webp)?' --copy-links --full-if-older-than 1M {{ virtualenv_path }}/storage/ {{ backup_ftp_url }}/fds-storage-backup >> {{ virtualenv_path }}/logs/fds-storage-backup.log
/usr/local/bin/duplicity -v 2 remove-all-but-n-full 1 --force {{ backup_ftp_url }}/fds-storage-backup >> {{ virtualenv_path }}/logs/fds-storage-backup.log

/usr/local/bin/duplicity -v 2 collection-status {{ backup_ftp_url }}/fds-sql-backup
/usr/local/bin/duplicity -v 2 collection-status {{ backup_ftp_url }}/mail-backup
/usr/local/bin/duplicity -v 2 collection-status {{ backup_ftp_url }}/fds-storage-backup

unset FTP_PASSWORD
unset PASSPHRASE
