#!/bin/bash

export FTP_PASSWORD='{{ backup_ftp_password }}'
export PASSPHRASE='{{ backup_gpg_password }}'

set -ex

PATH=/usr/bin:/bin
DATE=`date +%F`
DAYOFMONTH=`date +%d`

umask 177

mkdir -p /var/backup
mkdir -p /var/backup/weblate

pushd {{ weblate_dir }}
docker compose run --rm -i weblate dumpdata --format json -a > /var/backup/weblate/db.json
popd

# SQL Dump Backup
/usr/bin/duplicity -v 2 --full-if-older-than 1W /var/backup/weblate {{ backup_ftp_url }}/weblate
/usr/bin/duplicity -v 2 remove-all-but-n-full 1 --force {{ backup_ftp_url }}/weblate

unset FTP_PASSWORD
unset PASSPHRASE
