{% if "ubuntu" in host_data %}
{% set distname = host_data.ubuntu %}
{% else %}
{% set distname = "jammy" %}
{% endif %}
# Base
deb http://mirror.hetzner.com/ubuntu/packages {{ distname }} main restricted multiverse
deb http://mirror.hetzner.com/ubuntu/packages {{ distname }}-updates main restricted multiverse
deb http://mirror.hetzner.com/ubuntu/packages {{ distname }}-security main restricted multiverse
deb http://mirror.hetzner.com/ubuntu/packages {{ distname }}-backports main restricted multiverse

# src repos
# deb-src http://archive.ubuntu.com/ubuntu/ {{ distname }} main restricted multiverse
# deb-src http://archive.ubuntu.com/ubuntu/ {{ distname }}-updates main restricted multiverse
# deb-src http://security.ubuntu.com/ubuntu/ {{ distname }}-security main restricted multiverse
