#!/bin/sh

{% block vars %}
NAME="{{ application_name }}"
DJANGODIR="{{ project_path }}"
SOCKFILE={{ virtualenv_path }}/run/gunicorn.sock
USER={{ gunicorn_user }}
GROUP={{ gunicorn_group }}
NUM_WORKERS={{ gunicorn_num_workers }}
{% endblock %}

# Set this to 0 for unlimited requests. During development, you might want to
# set this to 1 to automatically restart the process on each request (i.e. your
# code will be reloaded on every request).
MAX_REQUESTS={{ gunicorn_max_requests }}
MAX_REQUESTS_JITTER={{ gunicorn_max_requests_jitter }}

echo "Starting $NAME as `whoami`"

# Activate the virtual environment.
cd $DJANGODIR
. {{ virtualenv_path }}/bin/activate
. {{ virtualenv_path }}/bin/postactivate

# Create the run directory if it doesn't exist.
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR
export RELEASE_VERSION=$(cat {{ virtualenv_path}}/meta/current_release)

{% block extra_env_vars %}{% endblock %}

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec gunicorn \
    --name $NAME \
    --chdir $DJANGODIR \
    --workers $NUM_WORKERS \
    --max-requests $MAX_REQUESTS \
    --max-requests-jitter $MAX_REQUESTS_JITTER \
    --timeout {{ gunicorn_timeout_seconds|default(30) }} \
    --graceful-timeout {{ gunicorn_timeout_seconds|default(30) }} \
    --user $USER --group $GROUP \
    --log-level info \
    --bind unix:$SOCKFILE \
    --statsd-host 127.0.0.1:9125 \
    --statsd-prefix=$NAME \
    {% block extra_bind %}{% if host_data.site_ipv4 %}--bind {{ host_data.site_ipv4 }}:8000{% endif %}{% endblock %}
    {% block command_end %}{{ application_name }}.wsgi{% endblock %}
