{% extends "supervisor_app_gunicorn.j2" %}

{% block vars %}[program:{{ application_name }}_gunicorn_onion]
command = {{ virtualenv_path }}/bin/gunicorn_onion_start
stdout_logfile = {{ application_log_dir }}/gunicorn_onion_supervisor.log
{% endblock %}
