- name: Create the application user
  ansible.builtin.user:
    name: "{{ gunicorn_user }}"
    uid: "{{ gunicorn_user_uid }}"
    state: present

- name: Create external media storage directory
  ansible.builtin.file:
    path: "{{ external_media_storage_src }}"
    mode: "02750"
    state: directory
    owner: "{{ gunicorn_user }}"
    group: "www-data"
  notify: Reload exports

- name: Install nfs-kernel-server
  ansible.builtin.apt:
    pkg: nfs-kernel-server
  notify: Reload exports

- name: Configure nfs exports
  ansible.builtin.template:
    src: exports.j2
    dest: /etc/exports
    mode: "0644"
  notify: Reload exports

- name: Configure ufw for nfs
  community.general.ufw:
    port: "2049"
    from_ip: "{{ nfs_allow_from }}"
    rule: allow
