<pool type='dir'>
  <name>default</name>
  <capacity unit='bytes'>950046859264</capacity>
  <source>
  </source>
  <target>
    <path>/var/lib/libvirt/images</path>
    <permissions>
      <mode>0755</mode>
      <owner>0</owner>
      <group>0</group>
    </permissions>
  </target>
</pool>
