---
host_data:
  region: unknown
  datacenter: unknown
  interface_name: enp1s0
  mac: 52:54:00:ad:f4:89
  global_ipv4: 192.168.122.123
  global_ipv6: none
  site_ipv4: 192.168.122.123
  ubuntu: noble

monitor_server: fds-tst.okfn.de
prometheus_exporter:
  - node_exporter
  - nginx_exporter
  - postgres_exporter
  - postfix_exporter

https_domains:
  - ["test.zerschlagdenstaat.de"]
  - ["static.test.zerschlagdenstaat.de"]
  - ["mail.test.zerschlagdenstaat.de"]
  - ["app.test.zerschlagdenstaat.de"]
  - ["shop.test.zerschlagdenstaat.de"]
  - ["blog.test.zerschlagdenstaat.de"]
  - ["mta-sts.test.zerschlagdenstaat.de"]
  - ["rspamd.test.zerschlagdenstaat.de"]
  - ["grs.test.zerschlagdenstaat.de"]
  - ["ubf.test.zerschlagdenstaat.de"]

cms_sites:
  - key: "grs"
    name: "Gegenrechtsschutz"
    domain: "grs.test.zerschlagdenstaat.de"
    site_id: 3
    site_url: "https://grs.test.zerschlagdenstaat.de"
    simple_files:
      - path: "/robots.txt"
        filename: robots.txt
      - path: "/.well-known/security.txt"
        filename: security.txt
  - key: "ubf"
    name: "Ubf"
    domain: "ubf.test.zerschlagdenstaat.de"
    site_id: 2
    site_url: "https://ubf.test.zerschlagdenstaat.de"
    simple_files:
      - path: "/robots.txt"
        filename: robots.txt
      - path: "/.well-known/security.txt"
        filename: security.txt


fonts:
  - hk_grotesk

# Deploy nginx with this enabled to serve traffic from this port
# app_bind_localhost_port: 8000
