---

- import_tasks: create_swap_file.yml
  when: create_swap_file
  tags: swap

- apt_repository: repo="deb http://archive.ubuntu.com/ubuntu xenial universe" update_cache=false
  register: universe_installed

- apt: update_cache=true
  when: universe_installed | changed

- name: Ensure bash, OpenSSL, and libssl are the latest versions
  apt: name={{ item }} update_cache={{ update_apt_cache }} state=latest
  with_items:
    - bash
    - openssl
    - libssl-dev
    - libssl-doc
  tags: packages

- name: Install base packages
  apt: name={{ item }} update_cache={{ update_apt_cache }} force=yes state=installed
  with_items:
    - build-essential
    - acl
    - ntp
    - ntpdate
    - git
    - libpq-dev
    - python3-dev
    - python3-pip
    - python3-pycurl
    - ipython
    - supervisor
  tags: packages

- name: Upgrade pip
  pip: name=pip state=latest
  tags: packages
