#!/bin/bash

set -ex

pushd {{ fdsbot_backup_dir }}
export PGPASSWORD='{{ db_password_readonly }}'
pg_dump -h {{ hostvars[groups['db'][0]].host_data.site_ipv4 }} -U {{ db_user_readonly }} {{ db_name }} --schema-only > schema.sql
unset PGPASSWORD

curl 'https://raw.githubusercontent.com/okfde/fragdenstaat_de/main/scripts/create_light_sql.py' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/109.0' -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8' -H 'Accept-Language: en-US,en;q=0.7,de-DE;q=0.3' -H 'Accept-Encoding: gzip, deflate, br' -H 'DNT: 1' -H 'Connection: keep-alive' -H 'Upgrade-Insecure-Requests: 1' -H 'Sec-Fetch-Dest: document' -H 'Sec-Fetch-Mode: navigate' -H 'Sec-Fetch-Site: none' -H 'Sec-Fetch-User: ?1' -H 'Pragma: no-cache' -H 'Cache-Control: no-cache' | gunzip > create_light_sql.py
curl 'https://raw.githubusercontent.com/okfde/fragdenstaat_de/main/scripts/safe_tables.txt' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/109.0' -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8' -H 'Accept-Language: en-US,en;q=0.7,de-DE;q=0.3' -H 'Accept-Encoding: gzip, deflate, br' -H 'DNT: 1' -H 'Connection: keep-alive' -H 'Upgrade-Insecure-Requests: 1' -H 'Sec-Fetch-Dest: document' -H 'Sec-Fetch-Mode: navigate' -H 'Sec-Fetch-Site: none' -H 'Sec-Fetch-User: ?1' -H 'Pragma: no-cache' -H 'Cache-Control: no-cache' | gunzip > safe_tables.txt
curl 'https://raw.githubusercontent.com/okfde/fragdenstaat_de/main/scripts/safe_fks.txt' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/109.0' -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8' -H 'Accept-Language: en-US,en;q=0.7,de-DE;q=0.3' -H 'Accept-Encoding: gzip, deflate, br' -H 'DNT: 1' -H 'Connection: keep-alive' -H 'Upgrade-Insecure-Requests: 1' -H 'Sec-Fetch-Dest: document' -H 'Sec-Fetch-Mode: navigate' -H 'Sec-Fetch-Site: none' -H 'Sec-Fetch-User: ?1' -H 'Pragma: no-cache' -H 'Cache-Control: no-cache' | gunzip > safe_fks.txt
python3 -m pip install graphlib-backport
python3 create_light_sql.py generate --source_connection="-h {{ hostvars[groups['db'][0]].host_data.site_ipv4 }} -U {{ db_user_readonly }}" --source_password={{ db_password_readonly }} --target_connection="-p {{ fdsbot_db_light_port }}" > make_light.sh
bash make_light.sh
mkdir -p backup_light
pg_dump -p {{ fdsbot_db_light_port }} {{ fdsbot_db_light }} | gzip -c > backup_light/{{ fdsbot_db_light }}.sql.gz
popd
