[Unit]
Description=FDSBot

[Service]
User=fdsbot
WorkingDirectory=/home/fdsbot/fdsbot
ExecStart=/home/fdsbot/fdsbot/bin/hubot --adapter slack
Restart=always
Environment="ALLOWED_USERS={{ fdsbot_slack_users }}"
Environment="OCTOKIT_TOKEN={{ fdsbot_octokit_token }}"
Environment="HUBOT_SLACK_TOKEN={{ fdsbot_slack_token }}"

[Install]
WantedBy=multi-user.target
