# System wide configuration file

# A system wide configuration file is optional.
# If it exists, it usually defines a default account.
# This allows msmtp to be used like /usr/sbin/sendmail.
account default

# The SMTP smarthost
host {{ smtp_smarthost | default('192.168.100.1') }}
port {{ smtp_smarthost_port | default('25') }}

# Syslog logging with facility LOG_MAIL instead of the default LOG_USER
syslog LOG_MAIL

# Construct envelope-from addresses of the form "user@oursite.example"
from mail@{{ inventory_hostname.replace('.okfn.de','') }}
maildomain {{ inventory_hostname.replace('.okfn.de','') }}
