---

- name: apt
  hosts: all
  become: true
  become_user: root
  vars_files:
    - ../local_vars/local_config.yml

  roles:
    - role: apt
      tags: apt

    - role: dockerupdates
      tags: dockerupdates

    - role: nocodb
      tags: nocodb
      when: inventory_hostname in groups["auxiliary"]
    - role: weblate
      tags: weblate
      when: inventory_hostname in groups["auxiliary"]
    - role: metabase
      tags: metabase
      when: inventory_hostname in groups["auxiliary"]
    - role: ogimage
      tags: ogimage
      when: inventory_hostname in groups["auxiliary"]
    - role: discourse
      tags: discourse
      when: inventory_hostname in groups["discourse"]
    - role: fdsbot
      tags: fdsbot
      when: inventory_hostname in groups["fdsbot"]
    - role: minio
      tags: minio
      when: inventory_hostname in groups["s3"]
    - role: zammad
      tags: zammad
      when: inventory_hostname in groups["auxiliary"]
    - role: monitor
      tags: monitor
      when: inventory_hostname in groups["monitor"]
    # - role: sentry
    #  tags: sentry
    #  when: inventory_hostname in groups["sentry"]

    - role: icinga
      tags: icinga
      when: inventory_hostname in groups["monitor"]
